{% extends 'account/base.html' %}
{% load static %}
{% block content %}

<h1 style="margin-top: 3em; margin-bottom: 3em; color:red; text-align:center;">It's official, you suck! Busted &#128520;</h1>
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/tXrreES0xLI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

{% endblock %}