[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
django-widget-tweaks = "*"
django-environ = "*"
django-allauth = "*"
django-storages = "*"
psycopg2 = "*"
waitress = "*"
whitenoise = "*"
django-extensions = "*"
pytest = "*"
factory-boy = "*"
Django = "*"
PyYAML = "*"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
